.contrata-eu{
    background-color: rgba(255, 255, 255, 0.158);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 10px;
}
.contrata-eu>ul{
    text-align: left;
    color: #FFF;
    font-size: 1.2em;
}
.contrata-eu>h3{
    font-size: 1.5em;
}
.contrata-eu>p{
    font-size: 1.3em;
    color: #FFF;
}
.contrata-icon:hover{
    background-color: #FFF;
    border-radius: 50px;
}.contrata-icon1:hover{
    background-color: #FFF;
    border-radius: 10px;
}

@media only screen and  (max-width:900px){
    .contrata-eu{
        width: 100%;
    }
}