@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --cor01: #7093C1;
    --cor02: #C284AD;
    --cor03: #232323;

}


body{
    background-image: linear-gradient(to right,#C284AD,#7093C1);
}
/* header */
.cor-nav{
    background-color: var(--cor03);
}
hover:hover{
    color: red;
}
h1, h3{
    color: white;
}
.h1{
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size:2em;
    color: #ffffff;
}
h2{
    font-size: 2em;
}
picture{
    display: flex;
    justify-content: center;
}
picture>img.diogo{
    width: 350px;
    height: 100%;
    border-radius: 50px;
}
.card{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
.card-eu{
    width: 400px;
    border-radius: 10px;
}
.quemsou{
    flex-direction: column;
    align-content: stretch;
    /* justify-content: center; */
    align-items: center;
}

.link-card{
    color: red;
    text-decoration: none;
}

.blocoDeImg{
    background-color: rgba(255, 255, 255, 0.158);
}
.img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
} 




.contato{
    max-width: 100%;

   
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
}
.cor-contato{
    color: #FFFFFF;
    text-align: center;
    background-color: var(--cor03);

    border-radius: 15px;
}

footer{
    background-color: var(--cor03);
    color: whitesmoke;
    padding: 5px;
}
.link{
    text-decoration: none;
    color: whitesmoke;
}
a{
    color: #000;
}
a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

@media only screen and  (max-width:900px){
    picture>img.diogo{
        width: 320px;
        height: 100%;
    }
    .card-eu{
        width: 320px;
        height: 100%;
    }
    .projetos{
        width: 100%;
    }
    .icon{
        width: 64px;
    }
}