@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --cor01: #7093C1;
    --cor02: #C284AD;
    --cor03: #232323;

}


body{
    background-image: linear-gradient(to right,#C284AD,#7093C1);
}
/* header */
.cor-nav{
    background-color: var(--cor03);
}
hover:hover{
    color: red;
}
h1, h3{
    color: white;
}
.h1{
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size:2em;
    color: #ffffff;
}
picture{
    display: flex;
    justify-content: center;
}
picture>img.diogo{
    width: 232px;
    height: 300px;
    border-radius: 10px;
}
.card-eu{
    width: 350px;
    border-radius: 10px;
}
.quemsou{
    flex-direction: column;
    align-content: stretch;
    /* justify-content: center; */
    align-items: center;
}
.trabalhos{
    width: 300px;
    display: flex;
}
.link-card{
    color: red;
    text-decoration: none;
}



.conhecimentos{
    width: 100%;
    height: 100%;
    margin: 50px 0px;
}

.blocoDeImg{
    background-color: rgba(255, 255, 255, 0.158);
}
.img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.contato{
    max-width: 100%;

    background-color: var(--cor03);
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

footer{
    background-color: var(--cor03);
    color: whitesmoke;
}
.link{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    text-decoration: underline;
    color: whitesmoke;
}