@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --cor01: #7093C1;
    --cor02: #C284AD;
    --cor03: #232323;

}


body{
    background-image: linear-gradient(to right,#C284AD,#7093C1);
}
/* header */
.cor-nav{
    background-color: var(--cor03);
}
hover:hover{
    color: red;
}
h1{
    color: white;
}
.h1{
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size:2em;
    color: #ffffff;
}

picture>img{
    width: 232px;
    height: 300px;
}
.centro{
    margin-left: auto;
    margin-right: auto;
}


footer{
    background-color: var(--cor03);
    color: whitesmoke;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
}
footer a:hover{
    text-decoration: underline;
    color: whitesmoke;
}